@{
    ViewBag.Title = "About";
}

<div class="panel-warning" style="float:left; ">
    <li class="btn-warning" data-toggle="dropdown">How This Site Was Made</li>
</div>

<h2 style="text-align:center;">@ViewBag.Title.</h2>

<div class="jumbotron">
        <p class="text-primary">&spades; a student would be able to streamline their daily campus life using features like maps to route  </p>
        <p class="text-primary">&hearts; their daily commutes to creating a group map with friends all in one simple .net web app </p>
        <p class="text-primary">&clubs; The other great porpouse of this application is to make a lot more simplified way of managing dorms</p>
        <p class="text-primary">&diams; for a school residential manager with a great reduction of paper use by schools that use this application as</p>
        <p class="text-primary">&bull; a way to communicate with students such as official on-line forms or just questions and concerns </p>
        <p class="text-primary">&bull; same goes for landlords looking to post their houses on a personal map viewable by students or even if</p>
        <p class="text-primary">&bull; the landlord doesnt have a profile a student can stil go onto this site and connect with roommates</p>
</div>

<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Reviews from our past users</h3>
    </div>
    <div class="panel-body">
        <blockquote>
        <p>An Amazing service that everyone should use</p>
        <small>Someone famous in <cite title="Source Title">Los Angeles</cite></small>
        </blockquote>
        <blockquote>
        <p>My college life was so stressful until i started using this application</p>
        <small>A famous graduate in <cite title="Source Title">New York</cite></small>
        </blockquote>
        </div>
</div>