
@{
    ViewBag.Title = "Forums";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="list-group">
    <a class="list-group-item" >
        <h4 class="list-group-item-heading">Forums</h4>
        <p class="list-group-item-text">The forums for this site brings everything together in one place to contact, view, and explore different profiles from landlords to students</p>
        <p class="list-group-item-info">you can also use the forums page to create a written account of something that one has been observed, heard, done, or investigated and report them to dorm managers or a landlord to keep both you and them in the loop</p>
    </a>
</div>
<p></p>