@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-image: url('../../Content/images/misc/guardian_of_lunar_by_kovowolf-d6xhp2l.jpg'); ">
    <h2 class="text-warning" style="text-align:center">College&raquo;Residential&raquo;Application</h2>

</div>



<div class="jumbotron" style="margin-right: 40px; margin-left: 40px; height: 600px; border-right: 3px dotted white; border-left: 3px dotted white; background-image:url('../../Content/images/misc/WorldMapWallpapers.jpeg'); background-size:contain;">
    <div class="alert alert-warning" style="object-fit: h3 {}scale-down ">
        <p class="text-primary" style="text-align:center; font-size:25px; font-style:bold; vertical-align:middle;"> Simplifying College Lives everywhere one Model view controller at a time</p>
    </div>
</div>


