@{
    Layout = null;
}
    <h2>Table Details Test</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
           
        </div>
    
    <div>
        <a href="#/Table">Back to List</a>
    </div>
